**Índice de Desenvolvimento da Educação Básica (Ideb)**

O Índice de Desenvolvimento da Educação Básica (Ideb) foi criado em 2007 e reúne, em um só indicador, os resultados de dois conceitos igualmente importantes para a qualidade da educação: o fluxo escolar e as médias de desempenho nas avaliações.

Ele é calculado a partir dos dados sobre aprovação escolar, obtidos no Censo Escolar, e das médias de desempenho nas avaliações do Inep, o Sistema de Avaliação da Educação Básica (Saeb) – para as unidades da federação e para o país, e a Prova Brasil – para os municípios.

## Importando bibliotecas

In [19]:
import gmplot
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## Carregando a base de dados

In [38]:
df = pd.read_csv("municipio.csv")

# Conhecendo os dados

Antes de iniciar qualquer análise é preciso conhecer os dados que estamos trabalhando.

## 1. O que tem no conjunto de dados?

Para visualizar 5 primeiros valores do dataset, execute o seguinte comando:

In [39]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
0,2005,AC,1200013,estadual,fundamental,finais (6-9),90.0,0.899595,223.3,209.69,3.882210,3.5,NaN
1,2005,AC,1200013,estadual,fundamental,iniciais (1-5),80.4,0.760600,167.8,154.39,3.972965,3.0,NaN
2,2005,AC,1200013,municipal,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,AC,1200013,municipal,fundamental,iniciais (1-5),66.3,0.681560,169.8,163.00,4.168093,2.8,NaN
4,2005,AC,1200013,publica,fundamental,finais (6-9),89.0,0.893661,223.3,209.69,3.882167,3.5,NaN

Para visualizar os últimos valores do dataset, execute o seguinte comando:

In [40]:
df.tail()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
294421,2021,TO,1722107,municipal,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN,4.1
294422,2021,TO,1722107,municipal,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN,5.0
294423,2021,TO,1722107,publica,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN,5.4
294424,2021,TO,1722107,publica,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN,5.7
294425,2021,TO,1722107,publica,medio,todos (1-4),NaN,NaN,NaN,NaN,NaN,NaN,4.3

Olhando de forma rápida, conseguimos identificar dados faltantes nas colunas. Essas informações estão identificadas como **NaN**

In [41]:
x = df.shape[0]
y = df.shape[1]


print("O dataset possui %s linhas" %x)
print("O dataset possui %s colunas" %y)

O dataset possui 294426 linhas
O dataset possui 13 colunas

In [45]:
df.dtypes # mostra os tipos de dados presentes no conjunto de dados

ano                              int64
sigla_uf                        object
id_municipio                     int64
rede                            object
ensino                          object
anos_escolares                  object
taxa_aprovacao                 float64
indicador_rendimento           float64
nota_saeb_matematica           float64
nota_saeb_lingua_portuguesa    float64
nota_saeb_media_padronizada    float64
ideb                           float64
projecao                       float64
dtype: object

In [46]:
## Como apresentar essas informações de uma única maneira

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294426 entries, 0 to 294425
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ano                          294426 non-null  int64
 1   sigla_uf                     294426 non-null  object
 2   id_municipio                 294426 non-null  int64
 3   rede                         294426 non-null  object
 4   ensino                       294426 non-null  object
 5   anos_escolares               294426 non-null  object
 6   taxa_aprovacao               230833 non-null  float64
 7   indicador_rendimento         230823 non-null  float64
 8   nota_saeb_matematica         197870 non-null  float64
 9   nota_saeb_lingua_portuguesa  197870 non-null  float64
 10  nota_saeb_media_padronizada  222078 non-null  float64
 11  ideb                         222045 non-null  float64
 12  projecao                     242395 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 29.2+ MB

## Quais colunas possuem dados faltantes?

In [43]:
df.isnull().sum()

ano                                0
sigla_uf                           0
id_municipio                       0
rede                               0
ensino                             0
anos_escolares                     0
taxa_aprovacao                 63593
indicador_rendimento           63603
nota_saeb_matematica           96556
nota_saeb_lingua_portuguesa    96556
nota_saeb_media_padronizada    72348
ideb                           72381
projecao                       52031
dtype: int64

## O que fazemos com os dados que estão faltando? Quais ideias vocês sugerem?

<img src="assets/duvida1.gif">

Há diversas abordagens para escolher o que se pode fazer com dados faltantes

- Remover todos os valores nulos
- Para valores numéricos: substituir todos os valores faltantes pela média, mediana, etc
- Para valores categóricos: substituir pelo valor que mais recorrente

Neste tutorial iremos seguir a primeira abordagem, remover todos os valores nulos.

## Limpeza dos dados

In [47]:
# Removendo valores nulos

df.dropna(axis=0, inplace=True)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158133 entries, 28839 to 253961
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ano                          158133 non-null  int64
 1   sigla_uf                     158133 non-null  object
 2   id_municipio                 158133 non-null  int64
 3   rede                         158133 non-null  object
 4   ensino                       158133 non-null  object
 5   anos_escolares               158133 non-null  object
 6   taxa_aprovacao               158133 non-null  float64
 7   indicador_rendimento         158133 non-null  float64
 8   nota_saeb_matematica         158133 non-null  float64
 9   nota_saeb_lingua_portuguesa  158133 non-null  float64
 10  nota_saeb_media_padronizada  158133 non-null  float64
 11  ideb                         158133 non-null  float64
 12  projecao                     158133 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 16.9+ MB

In [50]:
x = df.shape[0]

print("O dataset possui %s linhas" %x)

O dataset possui 158133 linhas

## Agora, vamos começar os trabalhos!!

<img src="assets/lets.gif" width="300px">

## Hmmm, Como os dados estão agora?

In [51]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
28839,2007,AC,1200013,estadual,fundamental,finais (6-9),87.3,0.870601,235.00,221.32,4.272000,3.7,3.5
28840,2007,AC,1200013,estadual,fundamental,iniciais (1-5),83.2,0.803809,165.13,151.88,3.876843,3.1,3.1
28842,2007,AC,1200013,municipal,fundamental,iniciais (1-5),73.7,0.757963,178.88,157.08,4.234166,3.2,2.9
28843,2007,AC,1200013,publica,fundamental,finais (6-9),88.4,0.883613,235.00,221.32,4.272000,3.8,3.5
28844,2007,AC,1200013,publica,fundamental,iniciais (1-5),75.3,0.765777,172.46,154.66,4.067274,3.1,2.9

# Análise exploratória dos dados

Conseguimos responder algumas perguntas que fizemos lá em cima! Bora lá?!

## Qual taxa média de aprovação em todos os estados?

In [62]:
media = df["taxa_aprovacao"].mean()

print("A taxa média de aprovação entre todos os estados é", media)

A taxa média de aprovação entre todos os estados é 87.17310681514876

## Qual a menor média da taxa de aprovação em todos os estados?

In [63]:
menor_media = df["taxa_aprovacao"].min()

print("A menor taxa de aprovação entre todos os estados é", menor_media)

A menor taxa de aprovação entre todos os estados é 6.1

## Qual a maior média da taxa de aprovação em todos os estados?

In [64]:
maior_media = df["taxa_aprovacao"].max()

print("A maior taxa de aprovação entre todos os estados é", maior_media)

A maior taxa de aprovação entre todos os estados é 100.0

## Qual o estado com menor média?

In [69]:
df[df["taxa_aprovacao"] == menor_media]

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
41967,2007,PA,1505700,estadual,fundamental,iniciais (1-5),6.1,0.027385,170.66,160.11,4.132387,0.1,3.1

In [70]:
df[df["taxa_aprovacao"] == maior_media]

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
29343,2007,AL,2706448,estadual,fundamental,iniciais (1-5),100.0,1.0,171.19,149.35,3.946683,3.9,3.3
31002,2007,BA,2916500,municipal,fundamental,iniciais (1-5),100.0,1.0,172.38,158.80,4.141202,4.1,2.5
31004,2007,BA,2916500,publica,fundamental,iniciais (1-5),100.0,1.0,172.38,158.80,4.141202,4.1,2.5
31267,2007,BA,2920452,municipal,fundamental,finais (6-9),100.0,1.0,204.96,192.07,3.283833,3.3,2.8
33648,2007,GO,5202601,estadual,fundamental,iniciais (1-5),100.0,1.0,167.52,151.89,3.922817,3.9,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
253443,2019,TO,1712157,publica,medio,todos (1-4),100.0,1.0,244.49,248.27,3.839979,3.8,4.3
253454,2019,TO,1712454,estadual,medio,todos (1-4),100.0,1.0,263.35,260.13,4.282552,4.3,4.2
253458,2019,TO,1712454,publica,medio,todos (1-4),100.0,1.0,263.35,260.13,4.282552,4.3,4.2
253476,2019,TO,1712801,estadual,medio,todos (1-4),100.0,1.0,253.64,249.96,3.993930,4.0,3.7
253481,2019,TO,1712801,publica,medio,todos (1-4),100.0,1.0,253.64,249.96,3.993930,4.0,3.7